{% load staticfiles %}
<html>
<header>
<section class='container'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<title>QA World </title>
</section>
</header>
<body>
<div class='row'>
<div class='col-sm-6'>
<h1><a href="/">Welcome to QA Application </a></h1>
</div>
<div class='col-sm-6'>
<h1><a href="/">click here  </a></h1>

</div>
</div>
 
 </div>

{%block content%}

  
{%endblock%}
          


<footer>&copy:CAUIMQA</footer>
</body>
</html>