<html>
<header>
<section class='container'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<title>QA World </title>
</section>
</header>
<body>
<div class='row'>
<h1><a href="/">Welcome to QA Application </a></h1>
</div>
 


<table class="table">
    <thead>
      <tr>
        <th>published date</th>
        <th>Name</th>
        <th>text</th>
      </tr>
   </thead>
   {% for pos in post %}
    <tbody>
     <tr>
        <td>{{pos.published_date}}</td>
        <td>{{pos}}</td>
        <td>{{pos.text}}</td>
      </tr>  
    </tbody>
	{% endfor %}
  </table>
		
          


<footer>&copy:CAUIMQA</footer>
</body>
</html>