{%extends 'blog/base.html'%}
{%block content%}
<table class='container'>
<thead>
  <tr>
  <th>publish date</th>
  <th>name</th>
  <th>text</th>
  <th>link</th>
  </tr>
</thead>
  {% for pos in post %}
    
 <tbody>
     <tr class="">
        <td>{{pos.published_date}}</td>
        <td>{{pos}}</td>
        <td>{{pos.text}}</td>
		<td><h3><a href="{% url 'post_detail' pk=pos.pk %}" >click here to see post</a></h3></td>
      </tr>  
   </tbody>
	
	{% endfor %}
</table>
  {%endblock%}
		
          


